<div class="add-to-cart" style="display: flex;">
    <button class="plus-and-minus-btn left-minus-btn">-</button>
    <span class="product-quantity">1</span>
    <button class="plus-and-minus-btn right-plus-btn">+</button>
    <button class="add-to-cart-btn">Add To Cart</button>
</div>