<section class="cart-sidebar">
    <div class="cart-wrapper">
        <button class="cart-sidebar-x-button">&#10006;</button>
        <h2>Cart</h2>
        <div class="cart-sidebar-items"></div>
        <div class="cart-sidebar-subtotal">Subtotal:</div>
        <div class="minimum-amount-notice">Please note that the minimum amount for purchase is 250$</div>
        <div class="cart-sidebar-btns">            
            <a class="cart-sidebar-view-cart-btn-link" href="/cart"><button class="cart-sidebar-view-cart-btn">View Cart</button></a>
            <a class="cart-sidebar-view-cart-btn-link" href="/checkout"><button class="cart-sidebar-checkout-btn">To Checkout</button></a>
        </div>
    </div>
</section>