<header class="primary-navbar">
    <div class="primary-navbar-desktop">
        <a href="/"><img class="logo" src="" alt="Brand logo"></a>
        <ul class="nav-selection js-nav-selection">
            <li><a class="link" href="/about">About Me</a></li>
            <li><a class="link" href="/shop">Shop</a></li>
            <li><a class="link" href="/contact">Contact Me</a></li>
        </ul>
        <div class="toggle-and-cart">
            <button class="navbar-toggle-btn js-nav-tog">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <a class="cart" href="#" data-cart-items="0"><i class="fa-solid fa-cart-shopping"></i><span class="cart-amount-icon"></span></a>
        </div>
    </div>
</header>